*{
    font-family: 'Poppins', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 250px;
}

form{
    display: flex;
    justify-content: center;
}

.channel-input{
    width: 200px;
    height: 40px;

    font-size: 1.2rem;
    text-align: center;
    color: #9147ff;

    outline: none;

    border: 2px solid #9147ff;
    border-right: none;
    
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.channel::placeholder{
    color: #9147ff;
}

.button-half{
    display: flex;
    align-items: center;
    justify-content: center;

    background: #9147ff;
    color: #fff;

    cursor: pointer;
    width: 40px;

    border: 2px solid #9147ff;
    border-left: none;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.icon{
    color: #9147ff;
    transition: 500ms;
}

.button{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 250px;
    height: 40px;
    padding: .5rem;
    margin-top: .5rem;

    font-size: 1.5rem;

    background: #fff;
    color: #9147ff;
    border: 2px solid #9147ff;
    border-radius: 1rem;

    transition: 500ms;

    cursor: pointer;
}

.button:hover{
    background: #9147ff;
    color: #fff;
}

.button:hover > .icon{
    color: #fff;
    transition: 500ms;
}

.channel-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 1rem;
}

.channel{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 200px;
    height: 40px;
    margin-top: .5rem;
    padding: 0 .5rem 0 .5rem;

    background-color: #9147ff;
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    
    border-radius: 1rem;

    cursor: pointer;
}

.channel > p {
    margin: .5rem;
    overflow: hidden;
    text-transform: capitalize;
}

.icons-channel{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon-channel{
    font-size: 1.5rem;
    color: #fff;
    transition: 250ms;
    margin-left: .25rem;
}

.icon-videos:hover{
    transform: scale(1.1);
    transition: 250ms;
}

.icon-del:hover{
    color: #ff7d81;
    transition: 250ms;
}

.icon-drag{
    cursor: move;
}

.dragging {
    opacity: .5;
}