form{
    display: flex;
    justify-content: center;
}

.channel-input{
    width: 200px;
    height: 40px;

    font-size: 1.2rem;
    text-align: center;
    color: #9147ff;

    outline: none;

    border: 2px solid #9147ff;
    border-right: none;
    
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.channel::placeholder{
    color: #9147ff;
}

.button{
    cursor: pointer;
    width: 40px;

    border: 2px solid #9147ff;
    border-left: none;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.icon{
    color: #9147ff;
    transition: 500ms;
}

.button-add{
    cursor: pointer;
    width: 100%;
    height: 40px;
    margin-top: .5rem;

    border: 2px solid #9147ff;
    border-radius: 1rem;

    background-color: #fff;
    color: #9147ff;
    font-size: 1.5rem;

    transition: 500ms;
}

.button-add:hover{
    background-color: #9147ff;
    color: #fff;
}

.button-add:hover > .icon{
    color: #fff;
}

.channel-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 1rem;
}

.channel{
    width: 100%;
    height: 40px;

    background-color: #9147ff;
    border: none;
    border-radius: 1rem;
    margin: .5rem;

    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    text-align: center;
    vertical-align: middle;

    text-decoration: none;
}